SQLAlchemy=2.0.41
requests=2.32.3
pydantic=2.11.4
pandas=2.2.3
Scrapy=2.13.0
uvicorn=0.34.2
fastapi=0.115.12
POSTMAN=0.6.0
anvil-uplink=0.5.2
pillow=11.2.1
nest-asyncio=1.6.0
nbconvert=7.16.6       # For testing converts jupyternotebooks to python files using >>: juypter nbconvert my_notebook.ipynb --to python 
ipykernel=6.29.5 # actually automatic
requests=2.32.3 # actually integrated
